html, body, input, textarea{
	font-family: 'Roboto Condensed', sans-serif;
}

/* NAV*/
.dropdown .dropdown-content {
    opacity: 0;

    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all; /* Firefox 4 */
    -webkit-transition: 0.3s ease all; /* Safari and Chrome */
    -o-transition: 0.3s ease all; /* Opera */
    -ms-transition: 0.3s ease all; /* Explorer 10 */
}
.dropdown:hover .dropdown-content, .dropdown:focus .dropdown-content {
    opacity: 1;
}

/* HOME SVG ANIMATION */
.svg-wrapper {
  position: relative;
  margin: 0px auto -125px auto;
  width: 200px;  
}
.shape {
  stroke-dasharray: 100 500;
  stroke-dashoffset: -474;
  stroke-width: 4px;
  fill: transparent;
  stroke: #aaa;
  border-bottom: 5px solid black;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
    font-family: 'Futura';
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 6px;
    color: #4f4f4f;
    position: relative;
    text-align: left;
    top: -3.6em;
    padding: 0px 0px 0px 10px;
}
.svg-wrapper:active .shape, , .svg-wrapper:hover .shape, .svg-wrapper:focus .shape {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  stroke-width: 4px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}