html, body, input, textarea{
	font-family: 'Roboto Condensed', sans-serif;
}
@media all and (max-width: 479px){
  body, html{
    overflow: auto !important;
    width: auto !important;
    height: auto !important;
    transition: none !important;
  }
}

/*PICTURE LOAD EFFECTS*/
img.fade-in {
  opacity:0 ;
  -moz-transition: opacity 1s; /* Firefox 4 */
  -webkit-transition: opacity 1s; /* Safari and Chrome */
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

/*TEXT EFFECTS*/
.underline-animate::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #333;
  transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out; /* Firefox 4 */
    -webkit-transition: 0.3s all ease-in-out; /* Safari and Chrome */
    -o-transition: 0.3s all ease-in-out; /* Opera */
    -ms-transition: 0.3s all ease-in-out;
}
.underline-animate:hover::after{
  width: 100%;
}

/* NAV*/
.dropdown .dropdown-content, .mobile-dropdown .dropdown-content {
    opacity: 0;

    transition: 0.3s ease all;
    -moz-transition: 0.3s ease all; /* Firefox 4 */
    -webkit-transition: 0.3s ease all; /* Safari and Chrome */
    -o-transition: 0.3s ease all; /* Opera */
    -ms-transition: 0.3s ease all; /* Explorer 10 */
}
.dropdown:hover .dropdown-content{
    opacity: 1;
}
.show{
    opacity: 1 !important;
}
.nav-link a span {
    content: '';
    display: block;
    position: absolute;
    background-color: #333;
    height: 2px;
    width: 0px;
    margin: auto 0;
    transition: 0.3s all ease-in-out;
      -moz-transition: 0.3s all ease-in-out; /* Firefox 4 */
      -webkit-transition: 0.3s all ease-in-out; /* Safari and Chrome */
      -o-transition: 0.3s all ease-in-out; /* Opera */
      -ms-transition: 0.3s all ease-in-out;
}

.nav-link a:hover span, .nav-link.dropdown:hover a span {
    width: 100% !important;
}
/* from side */
/*.nav-link a span {
    content: '';
    display: block;
    position: absolute;
    background-color: #333;
    height: 2px;
    width: 0px;
    margin-top: -.6rem;
    margin-left: -4rem;
    -webkit-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
}

.nav-link a:hover span {
    width: 1.9rem !important;
    margin-left: -2rem !important;
    opacity: 1 !important;
}*/

/*EFFEX*/
/*
.shadow-6 {
    transition: 1s ease all;
    background-color: white
}
.shadow-6:hover {
    box-shadow: 0 7px 42px rgba(122,122,122,0.27);
    transform: scale(1.02);
}
*/

/* HOME SVG ANIMATION */
.svg-container{
  width: calc(200px + 2rem);
  height: calc(125px + 2rem);
}
.svg-wrapper {
  position: relative;
  margin: 0px auto -125px auto;
  width: calc(200px + 2rem);
  height: calc(125px + 2rem); 
}
.shape {
  stroke-dasharray: 100 500;
  stroke-dashoffset: -474;
  stroke-width: 2px;
  fill: transparent;
  stroke: #333;
  border-bottom: 2px solid #333;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
.text {
    font-family: 'Futura';
    line-height: 1.5em;
    letter-spacing: 6px;
    position: relative;
    text-align: left;
    top: -4.5rem;
}
.svg-wrapper:active .shape, .svg-wrapper:hover .shape{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  stroke-width: 2px;
  stroke-dashoffset: 0;
  stroke-dasharray: 760;
}
@media all and (max-width: 480px){
	.svg-wrapper .shape{
	  -webkit-tap-highlight-color: rgba(0,0,0,0);
	  stroke-width: 2px;
	  stroke-dashoffset: 0;
	  stroke-dasharray: 760;
	}
}

/*One Page Scroll Responsivity */
.onepage-wrapper .ops-section {
    width: auto !important;
    height: auto !important;
    position: inherit;
}

/*tachyons.css overrides */
@media all and (max-width: 480px){
  .vh-special {
    height: calc(100vh - 82px);
  }
}