<div class="fl w-100 w-third-ns pa3">
	<!-- fade-in item -->
	<div class="pa3 shadow-6 dib"> <!-- GS -->
		<div class="fl w-100 mb2 h6 h5-ns">
			<img class="fade-in" onload="this.style.opacity='1'; this.parentNode.classList.remove('h6', 'h5-ns');" src="/img/green_bunnies.png">
		</div>
		<div class="fl w-100 pv2">
			<p class="link underline-animate dark-gray f7 dib mr2 fl">Green Bunnies Kitchen</p>
			<p class="f7 dib dn-m mv0 fr">Tools:</p>
		</div>
		<div class="fl w-100 pt2 pb4">
			<div class="fl w-70 w-100-m tl br bn-m b--light-gray">
				<p class="mv0 pr2">Green Bunnies is a food delivery app to browse, purchase, and schedule delivery of organic meals from the independent Green Bunnies kitchen. I developed and designed responsive web app alongside their existing iOS app in order to expand their reach and more easily incorporate new features to fit their growth.</p>
			</div>
			<div class="fl w-30 w-100-m tr tl-m">
				<p class="dn db-m f7 pt3 pb2 mv0">Tools:</p>
				<ul class="list pl0 mv0">
				    <li>AngularJS</li>
				    <li>HTML/CSS</li>
				    <li>Kinvey</li>
				    <li>Spreedly</li>
				</ul>
			</div>
		</div>  
		
    </div> <!-- END GS -->
</div>