<div class="fl w-100 w-third-ns pa3">
	<!-- portfolio item -->
	<div class="pa3 shadow-6 dib"> <!-- GS -->
		<div class="fl w-100">
			<img src="https://static1.squarespace.com/static/53066dfbe4b0d6e7c01dac56/57185b3bb6aa605dcf8a3e34/581af4b020099e33f3333820/1478161589312/ExpertPortfolioGymColor-01.png?format=750w">
		</div>
		<div class="fl w-100 pv2">
			<a class="link dim gray f7 dib mr2 fl" href="https://gymstandard.com" target="_blank">Gym Standard</a>
			<p class="f7 dib mv0 fr" href="https://gymstandard.com" target="_blank">Tools:</p>
		</div>
		<div class="fl w-100 pt2 pb4">
			<div class="fl w-70 tl br b--light-gray">
				<p class="mv0 pr2">Custom Shopify theme and set-up to enable this brick &amp; mortar retail space to expand their audience to the web for the first time.Custom Shopify theme and set-up to enable this brick &amp; mortar retail space to expand their audience to the web for the first time.</p>
			</div>
			<div class="fl w-30 tr">
				<ul class="list pl0 mv0">
				    <li>Shopify</li>
				    <li>Liquid</li>
				    <li>HTML/CSS</li>
				    <li>JQuery</li>
				</ul>
			</div>
		</div>  
		
    </div> <!-- END GS -->
</div>