<div class="fl w-100 w-third-ns pa3">
	<!-- portfolio item -->
	<div class="pa3 shadow-6 dib"> <!-- GS -->
		<div class="fl w-100 mb2">
			<img class="portfolio" onload="this.style.opacity='1';" src="/img/gym.png">
		</div>
		<div class="fl w-100 pv2">
			<a class="link underline-animate dark-gray f7 dib mr2 fl" href="https://gymstandard.com" target="_blank">Gym Standard</a>
			<p class="dn-m f7 dib mv0 fr">Tools:</p>
		</div>
		<div class="fl w-100 pt2 pb4">
			<div class="fl w-70 w-100-m tl br bn-m b--light-gray">
				<p class="mv0 pr2">I worked directly with the store owner to build a responsive Shopify theme and set-up to enable his brick &amp; mortar retail space to expand the store's reach to the web for the first time. The design remains simple, consistent with branding, and true to the purpose of showcasing carefully selected goods.</p>
			</div>
			<div class="fl w-30  w-100-m tr tl-m">
				<p class="dn db-m f7 pt3 pb2 mv0">Tools:</p>
				<ul class="list pl0 mv0">
				    <li>Shopify</li>
				    <li>Liquid</li>
				    <li>HTML/CSS</li>
				    <li>JQuery</li>
				</ul>
			</div>
		</div>  
		
    </div> <!-- END GS -->
</div>