<div class="fl w-100 w-third-ns pa3">
	<!-- fade-in item -->
	<div class="pa3 shadow-6 dib"> <!-- Khaore -->
		<a class="" href="https://khaore.com/" target="_blank">
			<div class="fl w-100 mb2 h6 h5-ns underline-animate">
				<img class="fade-in" onload="this.style.opacity='1'; this.parentNode.classList.remove('h6', 'h5-ns');" src="/img/khaore.jpg">
			</div>
		</a>
		<div class="fl w-100 pv2">
			<a class="link underline-animate dark-gray f7 dib mr2 fl" href="https://khaore.com/" target="_blank">Khaore</a>
			<p class="dn-m f7 dib mv0 fr">Tools:</p>
		</div>
		<div class="fl w-100 pt2 pb4">
			<div class="fl w-70 w-100-m tl br bn-m b--light-gray">
				<p class="mv0 pr2">I developed a Shopify theme for the launch of Khaore's site and brand identity designed by Pentagram. The site showcases their luxury handbag line, released in limited quantities, never to be reproduced once sold out.</p>
			</div>
			<div class="fl w-30  w-100-m tr tl-m">
				<p class="dn db-m f7 pt3 pb2 mv0">Tools:</p>
				<ul class="list pl0 mv0">
				    <li>Shopify</li>
				    <li>Liquid</li>
				    <li>HTML/CSS</li>
				    <li>JQuery</li>
				</ul>
			</div>
		</div>

  </div> <!-- END Khaore -->
</div>