<div class="fl w-100 w-third-ns pa3">
	<!-- portfolio item -->
	<div class="pa3 shadow-6 dib"> <!-- LITTLE WOLF -->
		<div class="fl w-100 mb2 h6 h5-ns">
			<img class="portfolio" onload="this.style.opacity='1'; this.parentNode.classList.remove('h6', 'h5-ns');" src="/img/littleWolf.png">
		</div>
		<div class="fl w-100 pv2">
			<a class="link underline-animate dark-gray f7 dib mr2 fl" href="https://littlewolfcoffee.com" target="_blank">Little Wolf Coffee</a>
			<p class="f7 dn-m dib mv0 fr">Tools:</p>
		</div>
		<div class="fl w-100 pt2 pb4">
			<div class="fl w-70 w-100-m tl br bn-m b--light-gray">
				<p class="mv0 pr2">I worked with a designer at <a class="link dim dark-gray" href="http://perkybros.com" target="_blank">PerkyBros</a> to develop a Shopify store that was consistent with Little Wolf Coffee's new display and merchandising materials they had created, allowing user's to engage with the same experience of their cafe while expanding this small-batch roastery's reach with eCommmerce.</p>
			</div>
			<div class="fl w-30 w-100-m tr tl-m">
				<p class="dn db-m f7 pt3 pb2 mv0">Tools:</p>
				<ul class="list pl0 mv0">
				    <li>Shopify</li>
				    <li>Liquid</li>
				    <li>HTML/CSS</li>
				    <li>JQuery</li>
				</ul>
			</div>
		</div>  
		
    </div> <!-- END LITTLE WOLF -->
</div>