<article id="loader-wrapper" class="vh-100 dt w-100 bg-white fixed z-999">
  <div id="loader"class="dtc v-mid tc ph3 ph4-l">
    <div class="dib svg-container"> <!-- HOME -->
      <div class="svg-wrapper">
        <a href="/work" class="no-underline">
          <svg class="pa3 shadow-6" height="125" width="200" xmlns="http://www.w3.org/2000/svg">
            <rect class="shape" height="125" width="200" />
            <h1 class="pl4 ma0 normal f6 dark-gray text">KEITH<br/>THOMPSON</h1>
          </svg>
        </a>
      </div>
    </div>
  </div>
</article>