<div class="fl w-100 w-third-ns pa3">
	<!-- portfolio item -->
	<div class="pa3 shadow-6 dib"> <!-- GS -->
		<div class="fl w-100 mb2 h6 h5-ns">
			<img class="portfolio" onload="this.style.opacity='1'; this.parentNode.classList.remove('h6', 'h5-ns');" src="/img/lot_54.png">
		</div>
		<div class="fl w-100 pv2">
			<a class="link underline-animate dark-gray f7 dib mr2 fl" href="https://www.lot54goods.com/" target="_blank">Lot 54 Goods</a>
			<p class="f7 dib dn-m mv0 fr">Tools:</p>
		</div>
		<div class="fl w-100 pt2 pb4">
			<div class="fl w-70 w-100-m tl br bn-m b--light-gray">
				<p class="mv0 pr2">Lot 54's store was built to launch the brand with a focus on the first product release. In collaboration with the brand's designer I implemented a store that could fit cohesively around their flagship product for launch, while being future-proof as they grow their product range.</p>
			</div>
			<div class="fl w-30 w-100-m tr tl-m">
				<p class="dn db-m f7 pt3 pb2 mv0">Tools:</p>
				<ul class="list pl0 mv0">
				    <li>Shopify</li>
				    <li>Liquid</li>
				    <li>HTML/CSS</li>
				    <li>JQuery</li>
				</ul>
			</div>
		</div>  
		
    </div> <!-- END GS -->
</div>