<div class="fl w-100 w-third-ns pa3">
	<!-- portfolio item -->
	<div class="pa3 shadow-6 dib"> <!-- GS -->
		<div class="fl w-100 pb2">
			<img src="/img/lot_54.png">
		</div>
		<div class="fl w-100 pv2">
			<a class="link dim gray f7 dib mr2 fl" href="https://www.lot54goods.com/" target="_blank">Lot 54 Goods</a>
			<p class="f7 dib mv0 fr">Tools:</p>
		</div>
		<div class="fl w-100 h4 pt2 pb4">
			<div class="fl w-70 tl br b--light-gray">
				<p class="mv0 pr2">Lot 54 Goods's store was built to launch the brand with a focus on the first product release, implementing a standalone product page unique to the item.</p>
			</div>
			<div class="fl w-30 tr">
				<ul class="list pl0 mv0">
				    <li>Shopify</li>
				    <li>Liquid</li>
				    <li>HTML/CSS</li>
				    <li>JQuery</li>
				</ul>
			</div>
		</div>  
		
    </div> <!-- END GS -->
</div>