<div class="fl w-100 w-third-ns pa3">
	<!-- portfolio item -->
	<div class="pa3 shadow-6 dib"> <!-- GS -->
		<div class="fl w-100 mb3 h5">
			<img class="portfolio" onload="this.style.opacity='1';" src="/img/motivefeed.png">
		</div>
		<div class="fl w-100 pv2">
			<a class="link dim gray f7 dib mr2 fl" href="http://motivefeed.com/" target="_blank">Motive Feed</a>for Motive Interactive
			<p class="f7 dib mv0 fr">Tools:</p>
		</div>
		<div class="fl w-100 h4-l pt2 pb4">
			<div class="fl w-70 tl br b--light-gray">
				<p class="mv0 pr2">Motive Interactive's API bridge between it's marketing platform and mobile ad-network for automatic campaign distribution to clients.</p>
			</div>
			<div class="fl w-30 tr">
				<ul class="list pl0 mv0">
				    <li>PHP</li>
				    <li>REST APIs</li>
				    <li>Mysql</li>
				    <li>HTML/CSS</li>
				</ul>
			</div>
		</div>  
		
    </div> <!-- END GS -->
</div>