<nav class="pa4 dn-ns bt bw1 b--dark-gray">
  <a class="link dim dark-gray    f7 dib mr4" href="{{site.url}}/" title="Home">Keith Thompson</a>
  <div class="fr">
    <div class="mobile-dropdown f7 dib mr2">
      <a onClick="dropIt(workDropdown)" class="link dark-gray dropbtn" title="Follow">Work</a>
      <ul id="workDropdown" class="list dropdown-content absolute pl0 ma0">
        <li class="pt2">
          <a class="link dim dark-gray" href="{{site.url}}/work" title="Work">fade-in</a>
        </li>
        <li class="pt2">
          <a class="link dim dark-gray" href="{{site.url}}/testimonials" title="About">Testimonials</a>
        </li>
      </ul>
    </div>
    <a class="link dim dark-gray    f7 dib mr2" href="{{site.url}}/about" title="About">About</a>
    <div class="mobile-dropdown f7 dib mr2">
      <a onClick="dropIt(followDropdown)" class="link dim dark-gray dropbtn" title="Follow">Follow</a>
      <ul id="followDropdown" class="list dropdown-content absolute pl0 ma0">
        <li class="pt2">
          <a class="link dim dark-gray" href="http://twitter.com/actualkeith" title="Work">Twitter</a>
        </li>
        <li class="pt2">
          <a class="link dim dark-gray" href="http://instagram.com/keithfarris" title="About">Instagram</a>
        </li>
      </ul>
    </div>
    <a class="link dim dark-gray    f7 dib" href="{{site.url}}/contact" title="Contact">Contact</a>
  </div>
</nav>