<nav class="pa4 dn-ns bt bw2 b--black">
  <a class="link dim black    f7 dib mr4" href="{{site.url}}/" title="Home">Keith Thompson</a>
  <div class="fr">
    <a class="link dim black    f7 dib mr2" href="{{site.url}}/work" title="Work">Work</a>
    <a class="link dim black    f7 dib mr2" href="{{site.url}}/about" title="About">About</a>
    <div class="mobile-dropdown f7 dib mr2">
      <a onClick="dropIt()" class="link dim black dropbtn" title="Follow">Follow</a>
      <ul id="mobileDropdown" class="list dropdown-content absolute pt2 pl0 ma0">
      <li>
          <a class="link dim black" href="http://twitter.com/actualkeith" title="Work">Twitter</a>
        </li>
        <li>
          <a class="link dim black" href="http://instagram.com/keithfarris" title="About">Instagram</a>
        </li>
    </ul>
    </div>
    <a class="link dim black    f7 dib" href="{{site.url}}/contact" title="Contact">Contact</a>
  </div>
</nav>