<nav role="navigation" class="absolute bottom-1 left-2 dn db-ns">
  <ul class="list pl0">
    <li class="nav-link pt1 pb3">
      <a class="link dark-gray" href="{{site.url}}/" title="Home">
        Keith Thompson
        <span style="">&nbsp;</span>
      </a>
    </li>
    <li class="nav-link dropdown desk">
      <a class="link pointer dark-gray dropbtn dib mr2" title="Work">
        Work
        <span style="">&nbsp;</span>
      </a>
      <div class="dropdown-content dib fr">
        <a class="link dark-gray dib mr2" href="{{site.url}}/work" title="Work">fade-in</a>
        <a class="link dark-gray dib" href="{{site.url}}/testimonials" title="About">Testimonials</a>
      </div>
    </li>
    <li class="nav-link pt1">
      <a class="link dark-gray" href="{{site.url}}/about" title="About">
        About
        <span style="">&nbsp;</span>
      </a>
    </li>
    <li class="nav-link pt1 dropdown desk">
      <a class="link dark-gray dropbtn dib mr2" title="Follow">
        Follow
        <span style="">&nbsp;</span>
      </a>
      <div class="dropdown-content dib fr">
        <a class="link dark-gray dib mr2" href="http://twitter.com/actualkeith" title="Work">Twitter</a>
        <a class="link dark-gray dib" href="http://instagram.com/keithfarris" title="About">Instagram</a>
      </div>
    </li>
    <li class="nav-link pt1">
      <a class="link dark-gray" href="{{site.url}}/contact" title="Contact">
      Contact
      <span style="">&nbsp;</span>
      </a>
    </li>
  </ul>
</nav>
