<nav role="navigation" class="absolute bottom-1 dn db-ns">
  <ul class="list">
    <li class="pb3">
      <a class="link dim gray" href="{{site.url}}/" title="Home">Keith Thompson</a>
    </li>
    <li>
      <a class="link dim gray" href="{{site.url}}/work" title="Work">Work</a>
    </li>
    <li>
      <a class="link dim gray" href="{{site.url}}/about" title="About">About</a>
    </li>
    <li>
      <a class="link dim gray" href="{{site.url}}/follow" title="Follow">Follow</a>
    </li>
    <li>
      <a class="link dim gray" href="{{site.url}}/contact" title="Contact">Contact</a>
    </li>
  </ul>
</nav>
