<nav class="absolute pa4 dn-ns">
  <a class="link dim gray    f6 f5-ns dib mr4" href="{{site.url}}/" title="Home">Keith Thompson</a>
  <a class="link dim gray    f6 f5-ns dib mr2" href="{{site.url}}/work" title="Work">Work</a>
  <a class="link dim gray    f6 f5-ns dib mr2" href="{{site.url}}/about" title="About">About</a>
  <a class="link dim gray    f6 f5-ns dib mr2" href="{{site.url}}/follow" title="Follow">Follow</a>
  <a class="link dim gray    f6 f5-ns dib" href="{{site.url}}/contact" title="Contact">Contact</a>
</nav>