<div class="fl w-100 w-third-ns pa3">
	<!-- fade-in item -->
	<div class="pa3 shadow-6 dib"> <!-- LITTLE WOLF -->
		<div class="fl w-100 mb2 h6 h5-ns">
			<img class="fade-in" onload="this.style.opacity='1'; this.parentNode.classList.remove('h6', 'h5-ns');" src="/img/nearDear.png">
		</div>
		<div class="fl w-100 pv2">
			<a class="link underline-animate dark-gray f7 dib mr2 fl" href="https://neardearfundraising.com" target="_blank">Near &amp; Dear Fundraising</a>
			<p class="f7 dib dn-m mv0 fr">Tools:</p>
		</div>
		<div class="fl w-100 pt2 pb4">
			<div class="fl w-70 w-100-m tl br bn-m b--light-gray">
				<p class="mv0 pr2">The team at Near &amp; Dear needed a solution for their new fundraising business connecting schools and youth associations with locally sourced products, catalyzing a niche industry with ecommerce. The site had to be able to link sales with student referrals and feature product sources.</p>
			</div>
			<div class="fl w-30 w-100-m tr tl-m">
				<ul class="list pl0 mv0">
					<p class="dn db-m f7 pt3 pb2 mv0">Tools:</p>
				    <li>Shopify</li>
				    <li>Liquid</li>
				    <li>HTML/CSS</li>
				    <li>JQuery</li>
				</ul>
			</div>
		</div>  
		
    </div> <!-- END LITTLE WOLF -->
</div>