<section>
	<article class="vh-100 dt w-100">
	  	<div class="dtc v-mid-ns black ph3 ph4-l">
	  		<div class="mw8 center ph3-ns">
			  <div class="cf ph2-ns">

			    <div class="fl w-100 w-third-ns pa3">
					<!-- fade-in item -->
					<div class="pa3 shadow-6 dib"> <!-- GS -->
						<div class="fl w-100 pv2">
							<a class="link underline-animate dark-gray f7 dib mr2 fl" href="https://monamoore.com" target="_blank">
							Mona Moore
							</a>
						</div>
						<div class="fl w-100 pv2">
							<div class="fl w-100 tl">
								<p class="mv0">We are so happy to find a developer who gets it. Keith was timely, communicative, receptive and easy to work with. He gave us great advice on what Shopify apps to use which would best suit our needs and made wonderful recommendations based on our aesthetic. We plan on continuing working with him long term to upgrade and make changes to our site.</p>
							</div>
						</div>

				    </div> <!-- END GS -->
				</div>

			    <div class="fl w-100 w-third-ns pa3">
					<!-- fade-in item -->
					<div class="pa3 shadow-6 dib"> <!-- GS -->
						<div class="fl w-100 pv2">
							<a class="link underline-animate dark-gray f7 dib mr2 fl" href="https://neardearfundraising.com" target="_blank">Near &amp; Dear Fundraising</a>
						</div>
						<div class="fl w-100 pv2">
							<div class="fl w-100 tl">
								<p class="mv0">Keith went above and beyond for our new start-up and we couldn't have asked to work with anyone better for our first website building experience. Keith was beyond patient, detail-oriented and extremely professional. He was very responsive to all of our needs and came up with some amazing solutions that would have stumped other web designers. We were just 2 moms with a big idea and Keith helped to turn our business into a reality. THANK YOU, Keith! We will look forward to working with you again as we grow!</p>
							</div>
						</div>

				    </div> <!-- END GS -->
				</div>
				{% comment %}
				<div class="fl w-100 w-third-ns pa3">
					<!-- fade-in item -->
					<div class="pa3 shadow-6 dib"> <!-- GS -->
						<div class="fl w-100 pv2">
							<a class="link underline-animate dark-gray f7 dib mr2 fl" href="https://lot54goods.com" target="_blank">Lot 54 Goods</a>
						</div>
						<div class="fl w-100 pv2">
							<div class="fl w-100 tl">
								<p class="mv0">I would highly recommend Keith for any of your web development needs. Keith was highly responsive, super clear, and put the customer first. He did an excellent job checking in with me to make sure the design was coming along how I wanted it to look, and added helpful suggestions that allowed for a collaborative process that came out excellent. He was fast, highly knowledgeable, and easy to work with. I would once again highly recommend choosing Keith for all your web related needs.</p>
							</div>
						</div>
				    </div>
				</div>
				{% endcomment %}
				<div class="fl w-100 w-third-ns pa3">
					<div class="pa3 shadow-6 dib">
						<div class="fl w-100 pv2">
							<a class="link underline-animate dark-gray f7 dib mr2 fl" href="https://notmonday.com" target="_blank">Not Monday</a>
						</div>
						<div class="fl w-100 pv2">
							<div class="fl w-100 tl">
								<p class="mv0">Was a pleasure working with Keith to set up our new site. He was very helpful and walked me through everything in detail. He made sure that I had things set up exactly as I wanted them. I've had occasion to reach out to him a couple of times since the initial set up with questions and he has always been available and more than willing to help. It's been a great experience so far and I will continue to work with Keith on the site.</p>
							</div>
						</div>
				  </div>
				</div>
				{% comment %}
				<div class="fl w-100 w-third-ns pa3">
					<div class="pa3 shadow-6 dib">
						<div class="fl w-100 pv2">
							<a class="link dim gray f7 dib mr2 fl" href="https://mygembox.com" target="_blank">Gembox</a>
						</div>
						<div class="fl w-100 pv2">
							<div class="fl w-100 tl">
								<p class="mv0">Highly recommend Keith, he is extremely proficient in all aspects of shopify's platform. Always goes above and beyond and executes timely projects that will exceed your expectations. Never outsources his work and will help put your ideas into action. I will of course continue to work with Keith on this venture as well as others that may arise.</p>
							</div>
						</div>
				  </div>
				</div>
				{% endcomment %}

			  </div>
			</div>
		</div>
	</article>
</section>