<!DOCTYPE html>
<html lang="en">
  {% include _scrollHead.html %}
<body class="f7 dark-gray">
	{% include _navigation_mobile.html %}
	<div class="main mb3 mb0-ns bt-ns bw1-ns b--dark-gray">
		{{content}}
	</div>
	{% include _footer.html %}
	{% include _navigation.html %}
	{% include _google_analytics.html %}
	<script type="text/javascript">
	if (document.documentElement.clientWidth >= 480) {
		onePageScroll(".main", {
		   sectionContainer: "section",
		   easing: "ease",
		   animationTime: 1000,
		   pagination: true,
		   updateURL: false,
		   beforeMove: function(index) {},
		   afterMove: function(index) {},
		   loop: true,
		   keyboard: true,
		   responsiveFallback: 479
		});
	}
	</script>
</body>
</html>
